
<div style="margin-left: 15px; text-align: center; margin-top: 15px;">
  <button mat-stroked-button style="font-size: large; text-align: center; width: 100%;" routerLink={{routerLinksForAdd[this.variant]}}	>
     <i class="material-icons">
         add
         </i>
   Add New Post
  </button>
 </div>
 
 <mat-grid-list cols="3" rowHeight="500px">
   <ng-container *ngFor="let post of posts">
     <mat-grid-tile>
       <app-postcard variant={{this.variant}} [post]='post' style="height: 85%; width: 100%; margin: 15px;"></app-postcard>
     </mat-grid-tile>
   </ng-container>
 </mat-grid-list>